body {
    height: 100vh;
    margin: unset;
    display: flex;
}

nav, aside {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryBgColor);
}

nav button {
    padding: .75em .5em;
    border: none;
    border-inline: 2px solid transparent;
    background-color: unset;
    cursor: pointer;
}

nav button:last-child {
    margin-top: auto;
}

nav button img {
    width: 30px;
    display: block;
    filter: invert(1);
}

aside {
    width: min(100%, 250px);
    border-inline: 1px solid var(--componentSeparatorBorderColor);
    gap: .3em;
    font-family: sans-serif;
    color: var(--folderFileNameColor);
}

aside header {
    padding: .3em .5em 0px .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

aside header button {
    width: fit-content;
    height: fit-content;
    padding: .2em .2em .2em .1em;
    border: none;
    border-radius: .2em;
    background-color: unset;
    cursor: pointer;
}

aside header button:hover {
    background-color: var(--closeTabButtonBgColor);
}

aside header button img {
    filter: invert(var(--iconColor));
    display: block;
}

aside ul {
    padding: unset;
    margin: unset;
    list-style: none;
}

aside ul li {
    padding: .1em .5em .1em 1.5em;
    cursor: pointer;
}

#newFileInput input {
    width: 100%;
    border: 1px solid var(--componentSeparatorBorderColor);
    border-radius: .5em;
    background-color: unset;
    color: var(--folderFileNameColor);
    font-size: 16px;
    outline: none;
}

aside ul li.selected {
    background-color: var(--folderSelectedFileBgColor);
}

main {
    width: 100%;
    display: flex;
    overflow: hidden;
}

main #browser {
    width: 50%;
    flex-shrink: 0;
}

main #browser iframe {
    width: 100%;
    height: 100%;
    border: none;
}

main #files {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--secondaryBgColor);
}

main :is(#browser, #files) header {
    border-bottom: 1px solid var(--componentSeparatorBorderColor);
    display: flex;
    background-color: var(--primaryBgColor);
    overflow: auto;
}

main :is(#browser, #files) header button {
    padding: .5em .6em .5em 1em;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: transparent var(--componentSeparatorBorderColor);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
}

main #browser header button {
    padding: calc(0.7em - 1.5px);
    background-color: var(--focusedTabFileBgColor);
    color: var(--focusedTabFileNameColor);
}

main #files header button #close {
    width: 1em;
    height: 1em;
    padding: .2em;
    position: relative;
}

main #files header button #close:hover {
    background-color: var(--closeTabButtonBgColor);
    border-radius: .3em;
}

main #files header button #close::before,
main #files header button #close::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1em;
    grid-column: 1;
    grid-row: 1;
    background-color: var(--focusedTabFileNameColor);
}

main #files header button #close::before {
    transform: rotate(45deg);
}

main #files header button #close::after {
    transform: rotate(-45deg);
}

main #files .tabBody {
    height: 100%;
    overflow: auto;
}

main #files .tabBody .code {
    width: fit-content;
    min-width: 100%;
    height: 100%;
    position: relative;
    font-family: sans-serif;
}

pre, textarea {
    padding: 1em 8em 0px 1em;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

pre {
    width: fit-content;
    pointer-events: none;
}

textarea {
    height: calc(100% - 1em);
    inset: 0;
    border: unset;
    background: transparent;
    color: transparent;
    caret-color: var(--caretColor);
    outline: none;
    position: absolute;
    resize: none;
}

.settings {
    padding: .3em;
    border: 1px solid var(--componentSeparatorBorderColor);
    border-radius: .5em;
    background-color: var(--secondaryBgColor);
    color: var(--text);
    position: absolute;
    font-family: sans-serif;
}

.settings ul {
    padding: .3em .5em .3em 1.5em;
    margin: unset;
    display: flex;
    flex-direction: column;
    gap: .3em;
    list-style-type: none;
}

.settings .orientation ul {
    border-block: 1px solid var(--componentSeparatorBorderColor);
}

.settings ul li {
    cursor: pointer;
    padding: 0px .5em;
    border-radius: .5em;
}

.settings ul li:hover {
    background-color: var(--closeTabButtonBgColor);
}